:root {
  --nex-primary-color: #7b5bec;
  --nex-primary-color-bg: rgba(123, 92, 206, 0.06);
  --nex-secondary-color: #8c97ac;
  --nex-border-color: #dcdfe6;
  --nex-border-color-light: #e2e2e2;
  --nex-text-color-primary: #303133;
  --nex-text-color-regular: #606266;
  --nex-text-color-secondary: #8c97ac;
  --nex-text-color-placeholder: #c0c4cc;
  --nex-bg-color: #ffffff;
  --nex-bg-color-page: #f5f5f5;
  --nex-bg-color-light: #eef1f8;
  --nex-disabled-bg-color: #f5f5f5;
  --nex-disabled-text-color: #c0c4cc;
  --nex-border-radius-base: 4px;
  --nex-border-radius-large: 8px;
  --nex-border-radius-round: 10px;
  --nex-font-size-base: 14px;
  --nex-font-size-small: 12px;
  --nex-font-size-large: 16px;
  --nex-success-color: #0fbc49;
  --nex-warning-color: #ffab25;
  --nex-error-color: #fb5228;
  --nex-subtle-bg-color: #f8f9fc;
  --nex-link-color: var(--nex-primary-color);
  --nex-link-color-hover: #cab5ff;
  --nex-link-color-active: #5c44c7;
}
